# Ensure that code filetypes are indented with spaces, not tabs
*.py    filter=spabs
*.yaml  filter=spabs
*.json  filter=spabs
*.css   filter=spabs
*.scss  filter=spabs
*.tmpl  filter=spabs
*.mako  filter=spabs
*.js    filter=spabs
*.sql   filter=spabs
*.java  filter=spabs
*.jsp   filter=spabs
*.pyx   filter=spabs
*.pxi   filter=spabs
*.sh    filter=spabs
*.txt   filter=spabs
*.md    filter=spabs
*.rst   filter=spabs
*.html  filter=spabs
*.htm   filter=spabs
*.shtml filter=spabs
*.xml   filter=spabs
*.xsl   filter=spabs
*.xsd   filter=spabs
*.thrift filter=spabs
*.c     filter=spabs
*.cpp   filter=spabs
*.h     filter=spabs
*.hpp   filter=spabs
