# Swap files
*.sw[nop]

# Data files
*.mat

# OSX crap
*.DS_Store

# Python setuptools
*.egg-info

# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
