python:
    - "2.7"
cache:
    - apt
#env:
#    - MOE_CMAKE_OPTS='-D MOE_PYTHON_INCLUDE_DIR=/usr/include/python2.7/ -D MOE_PYTHON_LIBRARY=/usr/lib/libpython2.7.so'
before_install:
    - python --version
    - ls /usr/include/python2.7/
    - ls /usr/lib/libpython*
    - which python && which python2.7
    - python -c "import sys; print (sys.version)"
    - python -c "import sys; print (sys.path)"
    - python2.7 -c "import sys; print (sys.version)"
    - python2.7 -c "import sys; print (sys.path)"
    - ls /usr/local/lib/python2.7/dist-packages/
    - ls /usr/local/lib/python2.7/site-packages/
    - ls /usr/lib/python2.7/dist-packages
#    - ls /home/travis/virtualenv/python2.7.8/lib/python2.7/site-packages/
    - pip list
    - sudo apt-get update -qq
    - sudo apt-get install -y build-essential libblas-dev liblapack-dev gfortran make libedit-dev python-scipy
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test && sudo apt-get update -q && sudo apt-get install -y gcc-4.7 g++-4.7 && sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.7 20 && sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.7 20 && sudo update-alternatives --config gcc && sudo update-alternatives --config g++
    - sudo add-apt-repository -y ppa:boost-latest/ppa && sudo apt-get update -q && sudo apt-get install -y boost1.55
    - sudo add-apt-repository -y ppa:kalakris/cmake && sudo apt-get update -q && sudo apt-get install -y cmake
    - sudo add-apt-repository -y ppa:chris-lea/python-numpy && sudo apt-get update -q && sudo apt-get install -y python-numpy
    - wget http://ppa.launchpad.net/libreoffice/ppa/ubuntu/pool/main/d/doxygen/doxygen_1.8.7-2~precise1_amd64.deb -O doxygen.deb
    - sudo dpkg -i doxygen.deb
install:
    - sudo pip install -r requirements.txt
    - sudo pip install flake8 flake8-import-order pep8-naming flake8-docstrings
    - cd moe
    - mkdir -p build
    - cd build
#    - cmake -D MOE_PYTHON_INCLUDE_DIR=/usr/include/python2.7/ -D MOE_PYTHON_LIBRARY=/usr/lib/libpython2.7.so ../optimal_learning/cpp
    - cmake ../optimal_learning/cpp
    - cmake -LAH
    - make GPP -j4
    - cd ../..
    - python setup.py install
    - (cd moe/build; cmake -LAH)
before_script:
    - echo "BEFORE SCRIPT"
    - echo $MOE_CMAKE_OPTS
    - echo $MOE_OLD_OPTS
    - echo $MOE_DERP_OPTS
    - echo $MOE_FOO_OPTS
    - which python && which python2.7
    - python -c "import sys; print (sys.version)"
    - python -c "import sys; print (sys.path)"
    - python2.7 -c "import sys; print (sys.version)"
    - python2.7 -c "import sys; print (sys.path)"
    - ls /usr/local/lib/python2.7/dist-packages/
    - ls /usr/local/lib/python2.7/site-packages/
    - ls /usr/lib/python2.7/dist-packages
#    - ls /home/travis/virtualenv/python2.7.8/lib/python2.7/site-packages/
    - pip list
#    - python -c "import pyramid; import pkg_resources; print pyramid.__file__; print pkg_resources.get_distribution('pyramid').version"
#    - python -c "import zope.interface; print zope.interface.__file__"
script:
    - make -B docs
    - make -B test
    - make -B style-test
    - echo "AFTER make test"
    - which python && which python2.7
    - python -c "import sys; print (sys.version)"
    - python -c "import sys; print (sys.path)"
    - python2.7 -c "import sys; print (sys.version)"
    - python2.7 -c "import sys; print (sys.path)"
    - ls /usr/local/lib/python2.7/dist-packages/
    - ls /usr/local/lib/python2.7/site-packages/
    - ls /usr/lib/python2.7/dist-packages
#    - ls /home/travis/virtualenv/python2.7.8/lib/python2.7/site-packages/
    - pip list
#    - python -c "import zope.interface; print zope.interface.__file__"
after_script:
    - echo "AFTER SCRIPT"
