language: python
python:
    - "2.7_with_system_site_packages"
cache:
    - apt
env:
    - MOE_CMAKE_OPTS="-D MOE_PYTHON_ADDITIONAL_VERSIONS='`echo $TRAVIS_PYTHON_VERSION`'"
before_install:
    - python --version
    - echo $TRAVIS_PYTHON_VERSION
    - ls /usr/include/python2.7/
    - ls /usr/lib/libpython*
    - sudo apt-get update -qq
    - sudo apt-get purge python3.2 python3.2-dev
    - sudo apt-get install -y build-essential libblas-dev liblapack-dev gfortran make libedit-dev python-scipy
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test && sudo apt-get update -q && sudo apt-get install -y gcc-4.7 g++-4.7 && sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.7 20 && sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.7 20 && sudo update-alternatives --config gcc && sudo update-alternatives --config g++
    - sudo add-apt-repository -y ppa:boost-latest/ppa && sudo apt-get update -q && sudo apt-get install -y boost1.55
    - sudo add-apt-repository -y ppa:kalakris/cmake && sudo apt-get update -q && sudo apt-get install -y cmake
    - sudo add-apt-repository -y ppa:chris-lea/python-numpy && sudo apt-get update -q && sudo apt-get install -y python-numpy
    - wget http://ppa.launchpad.net/libreoffice/ppa/ubuntu/pool/main/d/doxygen/doxygen_1.8.7-2~precise1_amd64.deb -O doxygen.deb
    - sudo dpkg -i doxygen.deb
install:
    - pip install -r requirements.txt
    - pip install flake8 flake8-import-order pep8-naming flake8-docstrings
    - python setup.py install
script:
    - make -B test
    - make -B style-test
    - make -B docs
